/***
Selformative- Main CSS Styles.
This file is overriding the defaults set in the layouts directory
***/

* {
    background: #f5f5f5;
    color: black;
}
html {
    height: 100%;
}
body {
    height: 100%;
    /* border: 5px solid #ffdb3a; */
}
h1 {
    font-size: 1.5rem;
    line-height: 0.5rem;
}
p, div {
    font-size: 16px;
}

/*
  /Something

  Header
*/

/*.HeaderLogo {
  display: block;
}

.Nav {

}

.Nav ul {
  display: block;
  border: 2px solid black;
}

.Nav ul li {
  list-style: none;
  display: inline-block;
  border: 1px solid black;
  width:
}*/

/*
  /Header

  Something else
*/
